/* Other rules */
.app {
  max-width: 1920px;
  font-family: "Nunito", sans-serif;
}

button {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}

p,
.homepage-description {
  color: #5f5f5f;
  line-height: 25px;
  font-size: 14px;
}

.container {
  max-width: 1380px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* HEADER --------------------*/
.header {
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header img {
  width: 250px;
}

/* HOMEPAGE-------------------- */

.homepage .container {
  display: flex;
  flex-wrap: wrap;
}

.homepage .restaurants-section {
  display: flex;
  flex-wrap: wrap;
}

.homepage .home-restaurant-card {
  border: 2px solid red;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 30px;
  padding: 10px;
}

.restaurant-picture {
  width: 100%;
  height: 200px;
  object-fit: cover;
  /* object-position: center; */
  border-radius: 10px;
  margin-bottom: 10px;
}

.restaurant-name {
  margin-bottom: 10px;
  color: #2a8b42;
  font-weight: bold;
  font-size: 20px;
}

.review-section {
  margin-bottom: 5px;
}

.link-restaurant {
  text-decoration: none;
}

/* RESTAURANT PAGE-------------------- */

/* .restaurant-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid blue;
} */

section {
  padding: 5px;
  border: 3px solid blue;
  width: 67%;
  display: flex;
  flex-direction: column;
}

section:not(.carrousel-restaurant-pictures img) {
  justify-content: center;
}

aside {
  border: 3px solid orange;
  padding: 5px;
  margin-left: 20px;
  width: 33%;
}

.bloc-text {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.restaurant-page .description {
  width: 90%;
}

.carrousel-restaurant-pictures {
  width: 90%;
  border: 3px solid green;
  padding: 10px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  margin: 0 auto;
}

.carrousel-restaurant-pictures img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-right: 20px;
}

.restaurant-infos {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.item-restaurant-infos {
  margin-right: 50px;
}
