/* Other rules */
.app {
  max-width: 1920px;
  font-family: "Nunito", sans-serif;
}

button {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  background-color: #7c4ec4;
  height: 45px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-left: 50px;
}

h2 {
  font-size: 30px;
  color: #494848;
  font-weight: bold;
}

h3 {
  color: #494848;
  font-weight: bold;
  font-size: 18px;
}

p,
.card-description {
  color: #5f5f5f;
  line-height: 25px;
  font-size: 14px;
}

a {
  text-decoration: none;
  /* color: #7c4ec4; */
  color: white;
  font-weight: bold;
}

.container {
  max-width: 1380px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/* HEADER --------------------*/
.header {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header img {
  width: 250px;
}

.header button {
  width: 100px;
  margin-right: 30px;
}

.welcome-back {
  color: #7c4ec4;
  font-weight: bold;
  margin-right: 30px;
  font-size: 20px;
}

.connected {
  display: flex;
  align-items: center;
}

/* MODAL REVIEW &  LOGIN MODAL */
.modal-container {
  background-color: #fff;
  width: 800px;
  display: flex;
  border-radius: 10px;
}

.cross {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #494848;
  font-size: 20px;
}

.cross:hover {
  color: #7c4ec4;
}

.welcome,
.thankyou {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome div,
.thankyou div {
  font-weight: bold;
  color: #494848;
  font-size: 20px;
}

.welcome img,
.thankyou img {
  width: 100px;
}

/* LOGIN MODAL */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-picture {
  width: 50%;
  position: relative;
}

.modal-picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  filter: grayscale(20%);
}

.picture-text {
  position: absolute;
  bottom: 280px;
  padding: 20px;
  color: white;
  font-weight: bold;
}

.picture-text-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.picture-text-text {
  font-size: 20px;
}

.modal-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: relative;
}

.modal-header {
  display: flex;
  flex-direction: row;
}

.modal-header div {
  margin-left: 30px;
  margin-bottom: 50px;
  color: #494848;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  padding-bottom: 10px;
}

.modal-header .focus-text {
  color: #7c4ec4;
  border-bottom: 3px solid #7c4ec4;
}

.modal-form {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal-form input {
  width: 95%;
  height: 30px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

.modal-form p {
  font-weight: bold;
}

.modal-btn {
  display: flex;
  justify-content: center;
}

.modal-btn button {
  margin: 30px 0px;
  width: 100%;
}

/* MODAL REVIEW */

.modal-review {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-review .modal-container {
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.modal-review .modal-content {
  position: relative;
  width: 100%;
}

.modal-review form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.modal-review h2 {
  margin-bottom: 30px;
}

.modal-review p {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.modal-review input,
.modal-review textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
}

.modal-review ::placeholder {
  font-size: 18px;
  color: #b2b2b2;
}

.modal-review button {
  margin-top: 30px;
}

/* HERO */

.hero {
  width: 100vw;
  height: 400px;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-search {
  position: absolute;
  top: 140px;
  left: 25vw;
  color: white;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-search input {
  height: 40px;
  width: 900px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 20px;
  border: none;
}

/* HOMEPAGE-------------------- */

.homepage .container {
  display: flex;
  flex-direction: column;
}
/* 
.homepage .restaurants-section {
  display: flex;
  flex-wrap: wrap;
} */

.homepage section {
  width: 98%;
  margin-bottom: 30px;
}

.caroussel-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.restaurants-caroussel {
  height: 400px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.restaurant-card {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 30px;
  padding: 10px;
}

.restaurant-picture {
  width: 100%;
  height: 200px;
  object-fit: cover;
  /* object-position: center; */
  border-radius: 10px;
  margin-bottom: 10px;
}

.restaurant-name {
  margin-bottom: 10px;
  color: #2a8b42;
  font-weight: bold;
  font-size: 20px;
}

.review-section {
  margin-bottom: 5px;
}

.link-restaurant {
  text-decoration: none;
}

.link-all-restaurants {
  color: #7c4ec4;
  display: flex;
}

.link-all-restaurants div {
  margin-right: 10px;
}

/* RESTAURANT PAGE-------------------- */

/* .restaurant-page .container {
  display: flex;
  justify-content: flex-start;
} */

.banner {
  width: 100vw;
  background-color: #2a8b42;
  height: 150px;
}

.banner-container {
  border: 1px solid #7c4ec4;
  margin: 0px auto;
  max-width: 1380px;
}

.restaurant-page section {
  padding: 5px;
  /* border: 3px solid blue; */
  width: 67%;
  display: flex;
  flex-direction: column;
}

section:not(.carrousel-restaurant-pictures img) {
  justify-content: center;
}

aside {
  border: 3px solid orange;
  margin-left: 20px;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.aside-bloc1 {
  background-color: #fafafa;
  margin-bottom: 100px;
}

.aside-bloc2 .nearby-restaurant-card {
  display: flex;
  border: 1px solid #dbd9d9;
  border-radius: 5px;
  margin-bottom: 10px;
}

.nearby-restaurant-card img {
  width: 30%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

section .bloc-text {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.restaurant-page .description {
  width: 90%;
}

.carrousel-restaurant-pictures {
  width: 90%;
  border: 3px solid green;
  padding: 10px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  margin: 0 auto;
}

.carrousel-restaurant-pictures img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-right: 20px;
}

.restaurant-caroussel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.restaurant-caroussel-header button {
  padding: 10px;
}

.photos-number span {
  margin-right: 5px;
  color: #7c4ec4;
}

.restaurant-infos {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.item-restaurant-infos {
  margin-right: 50px;
}

.restaurant-map {
  width: 100%;
  height: 205px;
}

.marker {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
}

aside .bloc-text {
  padding: 10px;
  height: 230px;
}

.websites a {
  color: black;
}

/* ALL RESTAURANTS PAGE-------------------- */

.all-restaurants-page section {
  border: 2px solid blue;
}

/* .all-restaurant-page .restaurant-card {
  width: 100px;
} */

.all-restaurants-section {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.all-restaurants-map {
  width: 30%;
}

.all-restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pages {
  margin: 30px 10px;
}

.pages button {
  margin-right: 10px;
}

/* FOOTER-------------------- */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #7c4ec4;
  background-color: #7c4ec4;
  height: 80px;
}

.footer p {
  margin-right: 5px;
  color: white;
}

.footer span {
  font-weight: bold;
}
